body {
    height: 100vh;
    background-image: url('/img/bokeh_colorful_lights_hd_christmas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

.form-floating {
    margin-top: .5em;
}

.badge {
    position: relative;
    bottom: 40px !important;
    left: calc(100% - 35px) !important;
    margin-left: 5px;
    cursor: pointer;
}

.extra {
    margin-bottom: -23px;
}

.gift-item {
    display: flex;
    margin-left: 25px;
    align-items: center;
}

.gift-item > a {
    color: black;
    text-decoration: none;
}

.gift-item > a:hover {
    color: var(--bs-primary);
    text-decoration: underline;
    text-underline-offset: 3px;
}



.gift-item-img {
    margin-right: 15px;
}