<% layout('layouts/pickerboiler') -%>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg mt-5">
                    <div class="card-header">
                        <h1 class="h1">Confirm Gift List</h1>
                        <p>Thank you for submitting your gift list, <%= user.name %>.<br>Please confirm your gift entries. If you would like to change something, click edit to go back and edit your entries.</p>
                    </div>
                    <div class="card-body p-4">
                        <% for (let gift of user.gifts) {%>
                            <p style="margin-left: 25px;"><%= gift %></p>
                        <% } %>
                        <hr>
                        <div class="btn-group d-flex">
                            <button id="edit" type="button" class="btn btn-warning" loc="/picker/edit/<%= user._id %>" title="Edit List">Edit List</button>
                            <button id="confirm" type="button" class="btn btn-success" loc="/picker/list" title="Confirm Gift List!">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/picker/app.confirm.js"></script>