<% layout('layouts/boilerplate') -%>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg mt-5">
                    <div class="card-header text-center">
                        <h1 class="h1">The Picker</h1>
                        <h3 class="h3">Under Construction</h3>
                    </div>
                    <div class="card-body p-4">
                        <a href="/picker/list">The List</a>
                    </div>
                </div>        
            </div>
        </div>
    </div>
    <script src="/js/picker/app.list.js"></script>