<% layout('layouts/pickerboiler') -%>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <h1 class="title">The Picker</h1>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        
    </div>
</div>