<% layout('layouts/boilerplate') -%>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-lg mt-5">
                    <div class="card-header text-center">
                        <h1 class="h1">Search for List to Edit</h1>
                    </div>
                    <div class="card-body p-4">
                        <p>Enter the Email address you used to add your list.</p>
                        <form action="/picker/search/" method="post">
                            <div class="form-floating mb-5">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email Address" required>
                                <label for="email">Enter Email Address</label>
                            </div>
                            <div class="btn-group d-flex">
                                <button class="btn btn-primary">Search</button>
                                <button id="cancel" type="button" class="btn btn-danger">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>        
            </div>
        </div>
    </div>
    <script src="/js/picker/app.entry.js"></script>