<% layout('layouts/pickerboiler') -%>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg mt-5">
                    <div class="card-header text-center">
                        <h1 class="title">Select a List to Edit</h1>
                        
                    </div>
                    <div class="card-body p-4">
                        <% if (peeps.length){ %>
                            <% for (let peep of peeps) {%>
                                <div class="card border shadow mb-1">
                                    <div class="card-body">
                                        <p class="peep"><%= peep.name %></p>
                                        <% for (let gift of peep.gifts) {%>
                                            <span class="gift-item mb-2">
                                                <img src="/img/listIcon-gift.png" class="d-inline gift-item-img" alt="Gift Icon">
                                                <%= gift %>
                                            </span>
                                        <% } %>
                                    </div>
                                    <div class="card-footer">
                                        <div class="btn-group d-flex">
                                            <a href="/picker/edit/<%= peep._id %>" class="btn btn-warning">Edit List</a>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% }else{ %>
                            <p style="text-align: center;">No gift lists have been entered yet.<br>Be the first to add their gift list.</p>
                        <% } %>
                    </div>
                </div>        
            </div>
        </div>
    </div>
    <script src="/js/picker/app.list.js"></script>